body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header__wrap {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px 30px 50px;
}
.source-nav__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}
main {
    padding-bottom: 20px;
}
footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    border-top: 1px solid #525252;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
.source-nav {
    display: flex;
    align-items: center;
}
.footer__wrap {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    align-items: center;
}
.author {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a8aaab;
}
.link {
    height: 50px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    display: inline-block;
    background-size: contain;
    opacity: 0.7;
}
.link:hover {
    opacity: 1;
}
.rs-link {
    width: 120px;
    background: url(img/RSSchool.svg) no-repeat center center;
}
.github-link {
    width: 50px;
    background: url(img/github.svg) no-repeat center center;
    margin-right: 20px;
}
@media (max-width: 1279px) {
    .header__wrap {
        flex-direction: column;
        align-content: center;
    }
    .header__wrap h1 {
        text-align: center;
    }
}
@media (max-width: 639px) {
    footer {
        height: 200px;
    }
    .footer__wrap {
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding-top: 40px;
    }
    .rs-link {
        width: 100%;
    }
}