$color-primary: #595959
$color-text: #000000
$color-light: #ffffff
$color-body: #f6f6f6
$color-border: #e6e6e6
$color-hover: #fc8507

$shadow-key: 0 0 10px rgb(0 0 0 / 35%), 0px 1px 3px rgb(0 0 0 / 18%), inset 0px -3px 0px rgb(0 0 0 / 35%), inset 0px 14px 14px rgb(255 255 255 / 10%)
$shadow-key-hover: 0 0 10px rgb(0 0 0 / 35%), 0px 2px 1px rgb(255 255 255 / 50%), inset 0px 1px 4px rgb(0 0 0 / 35%), inset 0px -14px 14px rgb(255 255 255 / 10%)
$font-main: 'Roboto', sans-serif
$shadow-card: 0 0 0 0 rgb(227 228 230 / 0%)
